body{
    background: linear-gradient(rgb(196, 193, 193), rgb(133, 131, 131));
    min-height: 100vh;
}

#navbar {
    display: none;
}

#navbar2 {
    display: block;
}

#insidelogo a {
    color: rgb(226, 71, 71);
}

.menu {
    display: flex;
    color: red;
    list-style: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(208 131 217);
    margin-top: 4%;
    height: 2rem;
}

.menu div {
    font-family: 'Roboto', sans-serif;
    width: 33.33%;
    text-align: center;
    font-size: small;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu div a {
    text-decoration: none;
    color: black;
    padding: 8% 9%;
}

#info{
    width: 90%;
}

#info p{
    color: #410e7a;
}